{% extends "generic.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block content %}
<div class="content">

  <div class="container-fluid">
    <div class="jumbotron p-3 text-center ">
      <h1>About us</h1>
      <p class="lead">We want to build a debate website to let all the students to freely discuss hit and hot om
        campus. There are not that
        individual platfom at UMass to allow students to share opinions and poll topics. The idea is similar to
        existing
        debating websites such as debate.org, however, we would like to make our website innovative by only providing a
        live
        debate/discussion which we hope it will encorage people to actively engage to a debate more. Also each user
        will be
        able to check his/her statistics of all debates a user has participated such as how many votes he/she received.
      </p>
    </div>


    <div class="row">
      <div class="col-md-4 text-center snip1559">
        <h5 class="card-header  bg-dark text-white">Web Designer</h5>
        <div class="card-body">
          <div class="image_ava">
            <img src="{%static 'img/team/Prakrit.jpg' %}" class="img-thumbnail rounded mx-auto d-block" />
          </div>
          <h4 class="card-title">Prakrit Saetang</h4>
          <ul class="list-inline">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <h5 class="card-header bg-dark text-white">Web Designer</h5>
        <div class="card-body">
          <div class="image_ava">
            <img src="{%static 'img/team/Panupong.jpg' %}" class="img-thumbnail rounded mx-auto d-block" />
          </div>
          <h4 class="card-title">Panupong Leenawarat</h4>
          <ul class="list-inline">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
      <div class="col-md-4 text-center">
        <h5 class="card-header bg-dark text-white">Web Designer</h5>
        <div class="card-body">
          <div class="image_ava">
            <img src="{%static 'img/team/Jared.jpg' %}" class="img-thumbnail rounded mx-auto d-block" />
          </div>
          <h4 class="card-title">Jared Pina</h4>
          <ul class="list-inline">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <h5 class="card-header  bg-dark text-white">Web Designer</h5>
        <div class="card-body">
          <div class="image_ava">
            <img src="{%static 'img/team/Pat.jpg' %}" class="img-thumbnail rounded mx-auto d-block" />
          </div>
          <h4 class="card-title">Patrick Conway</h4>
          <ul class="list-inline">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <h5 class="card-header bg-dark text-white">Web Designer</h5>
        <div class="card-body">
          <div class="image_ava">
            <img src="{%static 'img/team/Dhruv.jpg' %}" class="img-thumbnail rounded mx-auto d-block" />
          </div>
          <h4 class="card-title">Dhruv Khurana</h4>
          <ul class="list-inline">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <h5 class="card-header bg-dark text-white">Web Designer</h5>
        <div class="card-body">
          <div class="image_ava">
            <img src="{%static 'img/team/Chen.jpg' %}" class="img-thumbnail rounded mx-auto d-block" />
          </div>
          <h4 class="card-title">Chen Xie</h4>
          <ul class="list-inline">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}