{% extends "generic.html" %}

{% block css %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/poll_home.css' %}">
{% endblock %}

{% block content %}
    <div class="content">

        <div class="content-box">
                <br/>
                <span><h2>Debate</h2></span>
                <span>
                  <a href="{% url 'debate_create' %}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Create a new Debate</a>
                </span>
                <br/><br/>
              
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Enter a new Debate!</a></li>
                  <li><a data-toggle="tab" href="#menu1">Vote on a past Debate!</a></li>
                </ul>
              
                <div class="tab-content">
                  
                  <div id="home" class="tab-pane fade in active">
                      <div class="row topic-row">
                          {% for uuid, position, category, topic, initialUser, isOpen in viewDebates %}
                              {% if isOpen %}
                                  <div class="col-sm-4">
                                  <a href="#debateChat" seq="{% url 'debateChat' uuid %}" class="external_link">
                                      <div class="panel panel-primary">
                                          <div class="panel-heading">{{ topic }}</div>
                                          <div class="panel-body">Category: {{ category }} <br> User Position: {{ position }}</div>
                                          <div class="panel-footer">by {{ initialUser }}</div>
                                      </div>
                                  </a>
                              </div>
                              {% endif %}
                          {% endfor %}
                      </div>
                  </div>
                    
                  
                  <div id="menu1" class="tab-pane fade">
                    <div class="row topic-row">
                            {% for uuid, user1, user2, user1position, user2position, user1votes, user2votes, category, topic in viewPast %}
                                <div class="col-sm-4">
                                <a href="#debateChat" seq="{% url 'pastChat' uuid %}" class="external_link">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">{{ topic }}</div>
                                        <div class="panel-body">Category: {{ category }} <br> {{ user1 }}'s votes: {{ user1votes }} <br> {{ user2 }}'s votes: {{ user2votes }}</div>
                                        <div class="panel-footer">{{ user1 }} ({{ user1position }}) vs {{ user2 }} ({{ user2position }})</div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                  </div>
                </div>

        </div>
            
            
    </div>

{% endblock %}