{% extends "generic.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/debate.css' %}">
{% endblock %}

{% block js %}
   <script src="{% static 'js/debate.js' %}"></script> 
{% endblock %}

{% block content %}
    </div>

    <div class="content">
        <div class="right-header">
            <div class="right-header-img">
                <img src="avatar/man1.png">
            </div>
            <div class="right-header-detail">
              <p>{{ topic }} in {{category}}</p>
              <span>{{ user1 }} ({{user1votes}}) vs. {{ user2 }} ({{user2votes}})</span>
            </div>
            <div class="left-header-detail">
                <p>{{ topic }} in {{category}}</p>
                <span>{{ user1 }} ({{user1votes}}) vs. {{ user2 }} ({{user2votes}})</span>
            </div>
        </div>
        <div class="right-header-contentChat">
              <ul>
                {% for user, msg in chats %}
                <li>
                    {% if user == user1 %}
                  <div class="rightside-right-chat">
                    <span><i class="fa fa-circle" aria-hidden="true"></i> {{user}} </span><br><br>
                    <p>{{ msg }}</p>
                  </div>
                    {% else %}
                    <div class="rightside-left-chat">
                        <span><i class="fa fa-circle" aria-hidden="true"></i> {{user}} </span><br><br>
                            <p>{{ msg }}</p>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
              </ul>
          </div>
          <div class="right-chat-vote">
              <p> Vote  {{ user1 }} or Vote {{user2}} </p>
              <form method='post' enctype="multipart/form-data" nonvalidate>
                <input type='text' name ='vote' value='1: {{user1}}' readonly> </input>
                <input name="Vote {{user1}}" value='Vote!' type="Submit"></input>
              </form>
              <form method='post' enctype="multipart/form-data" nonvalidate>
                <input type='text' name='vote' value='2: {{user2}}'> </input>
                <input name="Vote {{user2}}" value='Vote!' type="Submit"></input>
              </form>
            </div>
      

      
    </div>
    
{% endblock %}