{% extends "generic.html" %}

{% load static %}


{% block js %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <!-- /.col-md-12 -->
         <div class="col-md-8 col-sm-12 pull-left posttimeline">
			{% for result in results %}
			<div class="panel panel-default">
                <div class="btn-group pull-right postbtn">
                    <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="dots"></span> </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#poll" seq="{% url 'poll' result.id %}" class="external_link" style="text-decoration:none;">More<br></a></li>
                        <li><a href="javascript:void(0)">Report</a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="media">
                        <div class="media-left"> <a href="javascript:void(0)"> <img src="{{ result.img.url }}" alt="" class="media-object">
                            </a></div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#poll" seq="{% url 'poll' result.id %}" class="external_link"
                                    style="text-decoration:none;">{{result.title}}<br></a>
								<p>{{result.get_tags}}</p>
                                <small><i class="fa fa-clock-o"></i>{{ result.date}}</small> </h4>
                        </div>
                    </div>
                </div>
				{% endfor %}
           </div>
          </div>
        </div>
    </div>
{% endblock %}