{% extends "generic.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/debate.css' %}">
{% endblock %}

{% block js %}
  <script src="{% static 'js/debate.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="time-count">
      Time left
      <span class="countdown">5:00</span>
    </div>

    <div class="content">
        <div class="right-header">
            <div class="right-header-img">
                <img src="avatar/man1.png">
            </div>
            <div class="right-header-detail">
              <p>Jack Clerk</p>
              <span>already 19 messages </span>
            </div>
        </div>
          
          <div class="right-header-contentChat">
              <ul>
                <li>
                  <div class="rightside-left-chat">
                    <span><i class="fa fa-circle" aria-hidden="true"></i> joi chak <small>10:00 AM,Today</small> </span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim mollit anim laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-right-chat">
                    <span> <small>10:00 AM,Today</small>  nik minaj <i class="fa fa-circle" aria-hidden="true"></i></span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-left-chat">
                    <span><i class="fa fa-circle" aria-hidden="true"></i> joi chak <small>10:00 AM,Today</small> </span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim mollit anim laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-right-chat">
                    <span> <small>10:00 AM,Today</small>  nik minaj <i class="fa fa-circle" aria-hidden="true"></i></span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-left-chat">
                    <span><i class="fa fa-circle" aria-hidden="true"></i> joi chak <small>10:00 AM,Today</small> </span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim mollit anim laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-right-chat">
                    <span> <small>10:00 AM,Today</small>  nik minaj <i class="fa fa-circle" aria-hidden="true"></i></span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-left-chat">
                    <span><i class="fa fa-circle" aria-hidden="true"></i> joi chak <small>10:00 AM,Today</small> </span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim mollit anim laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-right-chat">
                    <span> <small>10:00 AM,Today</small>  nik minaj <i class="fa fa-circle" aria-hidden="true"></i></span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-left-chat">
                    <span><i class="fa fa-circle" aria-hidden="true"></i> joi chak <small>10:00 AM,Today</small> </span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim mollit anim laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
                <li>
                  <div class="rightside-right-chat">
                    <span> <small>10:00 AM,Today</small>  nik minaj <i class="fa fa-circle" aria-hidden="true"></i></span><br><br>
                    <p>Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit ameeserunt mollit anim id est laborum.</p>
                  </div>
                </li>
              </ul>
          </div>
          <div class="right-chat-textbox">
              <input type="text"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
      

      
    </div>
    
{% endblock %}