{% extends "generic.html" %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}

{% block content %}

{% block title_outer %}
<title>{% block title %}Edit {{username}}{% endblock %}</title>
{% endblock %}

<div class="content">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="panel-title pull-left" style="font-size:30px;">Basic Info</h1>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Your Name</h3>
                    <br><br>
                    <div class="form-group">
                        First Name:<br /><br />
                        {{ form.firstName }}
                    </div>
                    <div class="form-group">
                        Last Name:<br /><br />
                        {{ form.lastName }}
                    </div>
                    <div class="form-group">
                        Username:<br /><br />
                        {{ form.username}}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Your Email Address</h3>
                    <br><br>
                    {{ form.email}}
                </div>
            </div>
            {{ form.profile_img }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Your photo</h3>
                    <br><br>
                    <div align="center">
                        <div class="col-lg-12 col-md-12">
                            <img id="blah" src="{{img.url}}" alt="{{img}}" width="300" height="300" />
                            <input name="img_upload" style="display:none;" id="img_input" type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="button" onclick="document.getElementById('profile_img').click();" class="btn btn-primary"><i
                                    class="fa fa-upload" aria-hidden="true"></i> Upload a new
                                profile photo!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">My extended profile</h3>
                    <br><br>
                    <p>Visibility of your extended profile:</p>
                    <br><br>
                    <div class="form-group">
                        Your Bio:<br /><br />
                        {{ form.userBio }}
                    </div>
                    <br><br>
                </div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Profile settings</h3>
                    <br><br>
                    <h4>Search</h4>
                    <div class="well checkbox">
                        <label class="checkbox-inline" for="profile_searchable"><input type="checkbox" name="profile[searchable]"
                                id="profile_searchable" value="true" checked="checked">
                            Allow for people to search for you within diaspora*
                        </label>
                    </div>
                    <br>
                    <h4>NSFW</h4>
                    <p>NSFW (“not safe for work”) is diaspora*’s self-governing community standard for content which
                        may
                        not be
                        suitable to view while at work. If you plan to share such material frequently, please check
                        this
                        option
                        so that everything you share will be hidden from people’s streams unless they choose to view
                        them.</p>
                    <div class="well checkbox">
                        <label class="checkbox-inline" for="profile_nsfw"><input type="checkbox" name="profile[nsfw]"
                                id="profile_nsfw" value="true">
                            Mark everything I share as NSFW
                        </label>
                    </div>
                    <p class="text-danger"><strong><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
                            If
                            you
                            choose not to select this option, please add the #nsfw tag each time you share such
                            material.</strong></p>
                    <button type="button" class="btn btn-default"><i class="fa fa-fw fa-times" aria-hidden="true"></i>
                        Cancel</button>
                    <button class="btn btn-primary"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Update Profile</button>
                </div>
                <div class="form-group">
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}